CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_VMDK_IMAGES=n
# 防火墙版本
# CONFIG_PACKAGE_firewall4=y
# IPv6 支持
CONFIG_IPV6=y
CONFIG_KERNEL_IPV6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y

# USB 相关
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-usb-printer=y
# USB 网络共享
CONFIG_PACKAGE_kmod-usb-net=y
# 支持3G/4G上网的模块，不用可以去掉，6.8的内核没有依赖，所以注释掉
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-hso=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_libudev-fbsd=y
CONFIG_PACKAGE_usbutils=y
# USB 网络存储
# CONFIG_PACKAGE_autosamba is not set
# CONFIG_PACKAGE_luci-app-samba4 is not set
CONFIG_PACKAGE_luci-app-samba=y
# FTP功能用不上
# CONFIG_PACKAGE_luci-app-vsftpd=y
# LUCI Appliciations
# 上网时间控制
CONFIG_PACKAGE_luci-app-accesscontrol=y
# 自动更新功能，不会搞
# CONFIG_PACKAGE_luci-app-autoupdate=y
# aria2功能，在公司内被禁止了，用不上
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-i18n-aria2-en=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y

CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
CONFIG_PACKAGE_ddns-scripts_dnspod=y
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
CONFIG_PACKAGE_ddns-scripts_no-ip_com=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-filetransfer=y
# MultiWan3负载均衡和MultiWan3分流助手
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=n
# 网络带宽监视器
CONFIG_PACKAGE_luci-app-nlbwmon=y
# 帮助NAT1(Full Clone NAT)用户打开外网端口,公司多IP环境无效，客户端也不是NAT1
CONFIG_PACKAGE_luci-app-natter=y
CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-serverchan=y
# PPTP服务器
CONFIG_PACKAGE_luci-app-pptp-server=y
# PPPOE服务器
CONFIG_PACKAGE_luci-app-pppoe-server=y
# Ipsec服务器
CONFIG_PACKAGE_luci-app-ipsec-vpnd=y
# iperf3服务器
CONFIG_PACKAGE_luci-app-iperf3-server=y
# zerotier客户端
CONFIG_PACKAGE_luci-app-zerotier=y
# wireguard客户端
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y
CONFIG_PACKAGE_luci-proto-wireguard=y
# OpenVPNServer
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-sqm=y
# 多拨助手，原来的MACVLAN，公司这种固定IP的用不着
CONFIG_PACKAGE_luci-app-syncdial=y
# smartdns我不会用,开着吧
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PACKAGE_luci-app-ttyd=y
# 网络加速功能公司内用不着
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_luci-app-udpxy=y
# CONFIG_PACKAGE_luci-app-uhttpd=y
# 关闭UPNP功能，经常编译不通过，upnp默认是打开的，需要强制关闭
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-webadmin=y
# Webd是一个轻量级Web服务器，只有90kB
# CONFIG_PACKAGE_luci-app-webd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-ssl-openssl=y
# socks代理，很多插件会自动编译进去
# CONFIG_PACKAGE_ipt2socks=y

# sing-box很多组件会自动编译进去
# CONFIG_PACKAGE_sing-box=y
# passwall和ssr plus在编译passwall2插件时总是自动编译上,强行关闭
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-ssr-plus=n
# passwall2代理工具
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_NaiveProxyy=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_SingBox=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_tuic_client=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_V2ray_Plugin=y

# v2ray Server
CONFIG_PACKAGE_luci-app-v2ray-Server=y
# homeproxy代理工具
# CONFIG_PACKAGE_luci-app-homeproxy=y
# nekobox代理工具
# CONFIG_PACKAGE_luci-app-nekobox=y
# bypass代理工具
# CONFIG_PACKAGE_luci-app-bypass=y
# vssr,就是Hellworld
# CONFIG_PACKAGE_luci-app-vssr=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Kcptun=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Hysteria=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Shadowsocks=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Libev_Server=n

# 关掉自动重启功能，该功能有毛病，每次重启把重启参数还原成默认值，强行关闭
CONFIG_PACKAGE_luci-app-autoreboot=n
# 主题包,有的新版本Openwrt主题还未作适配，等做了适配再编译
CONFIG_PACKAGE_luci-theme-design=y
CONFIG_PACKAGE_luci-app-design-config=y
# CONFIG_PACKAGE_luci-theme-argon-mod=n
# CONFIG_PACKAGE_luci-app-argon-config=n
# CONFIG_PACKAGE_luci-theme-edge=n
# CONFIG_PACKAGE_luci-theme-netgear=n
# CONFIG_PACKAGE_luci-theme-atmaterial_new=n
# CONFIG_PACKAGE_luci-theme-ifit=n
# CONFIG_PACKAGE_luci-theme-opentopd=n
# CONFIG_PACKAGE_luci-theme-tomato=n

# 我的打印机LBP没有驱动
# CONFIG_PACKAGE_cups=y
# 其他组件
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_curl=y
# 可以挂载网络共享的程序
CONFIG_PACKAGE_davfs2=y
CONFIG_PACKAGE_htop=y
# JQ是一个轻量的JSON处理器
CONFIG_PACKAGE_jq=y
# lsblk lists information about all or the specified block devices
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_ppp-mod-pptp=y
CONFIG_PACKAGE_ppp-mod-pppol2tp=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_xl2tpd=y
